body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.snowflake {
  position: absolute;
  top: -10px; /* Начальная позиция снега */
  background: white; /* Цвет снега */
  border-radius: 50%; /* Круглая форма */
  opacity: 0.8; /* Прозрачность снега */
  animation: fall linear infinite; /* Анимация падения */
  width: 10px; /* Размер снежинки */
  height: 10px; /* Размер снежинки */
}

@keyframes fall {
  0% {
    transform: translateY(0); /* Начальная позиция */
  }
  100% {
    transform: translateY(100vh); /* Конечная позиция */
  }
}

@media screen and (min-width: 320px) {
  .box {
    display: block;
    text-align: end;
    background-image: url("z_nastupauschim_ng_4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: solid 8px;
    border-radius: 20px;
    border-color: rgb(255, 48, 52);
    height: 100vh;
    width: 100vw;
    position: relative; /* Добавлено для позиционирования */
  }

  ol {
    list-style-type: none;
    margin: auto;
    padding: 0px;
  }

  .maintext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100% 0px 0px 0px;
    position: absolute;
    bottom: 10%;
    width: 100%;
  }

  .text {
    color: rgb(4, 69, 131);
    font-family: cursive;
    font-weight: bold;
    font-size: 1.8em;
    text-align: center;
    background: linear-gradient(
      270deg,
      red,
      orange,
      yellow,
      green,
      blue,
      white,
      indigo,
      violet
    );
    background-size: 400%; /* Увеличиваем размер фона для анимации */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Делаем цвет текста прозрачным */
    animation: rainbow 3.5s linear infinite;
  }

  .time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  h2 {
    color: white;
    font-size: 1em;
  }

  .timer > p,
  .timer > #day,
  .timer > #hrs,
  .timer > #min,
  .timer > #sec {
    color: white;
    background-color: rgb(102, 2, 196, 0.55);
    font-size: 1em;
    text-align: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .timer > p,
  .timer > #day,
  .timer > #hrs,
  .timer > #min,
  .timer > #sec {
    font-size: 1.75em;
  }
  h2 {
    font-size: 2em;
  }
  .text {
    font-size: 2.5em;
  }
  .maintext {
    bottom: 3.5%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .timer > p,
  .timer > #day,
  .timer > #hrs,
  .timer > #min,
  .timer > #sec {
    font-size: 2em;
  }
  h2 {
    font-size: 2.15em;
  }
  .text {
    font-size: 2.75em;
  }
  .maintext {
    bottom: 2%;
  }
}

@media screen and (min-width: 1281px) {
  .timer > p,
  .timer > #day,
  .timer > #hrs,
  .timer > #min,
  .timer > #sec {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2.8em;
  }
  .text {
    font-size: 3.3em;
  }
  .maintext {
    bottom: 5%;
  }
}
