body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .box {
    display: block;
    text-align: end;
    background-image: url("z_nastupauschim_ng_4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: solid 8px;
    border-radius: 20px;
    border-color: rgb(255, 48, 52);
    height: 600px;
    position: relative; /* Добавлено для позиционирования */
  }

  ol {
    list-style-type: none;
    margin: auto;
    padding: 0px;
  }

  .maintext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100% 0px 0px 0px;
    position: absolute; /* Добавлено для абсолютного позиционирования */
    bottom: 20%; /* Прикрепляем к нижней части */
    width: 100%; /* Задаем ширину 100% */
  }

  .text {
    color: rgb(255, 0, 0);
    font-family: cursive;
    font-size: 1.25em;
    text-align: center;
  }

  .time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  h2 {
    color: white;
    font-size: 1em;
  }

  .timer > p,
  .timer > #day,
  .timer > #hrs,
  .timer > #min,
  .timer > #sec {
    color: white;
    background-color: rgb(102, 2, 196, 0.62);
    font-size: 1em;
    text-align: center;
  }
}
